html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  display: grid;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700;800;900&display=swap');

main {
  max-width: 960px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.hero h1{
  font-size: 44px;
  color: hsl(190deg 3% 20%);
}


* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* Headings */
h1 {
  font-size: 32pt;
  line-height: 120%;
}
h2 {
  font-size: 26pt;
  line-height: 120%;
}
h3 {
  font-size: 22pt;
  line-height: 120%;
}
h4 {
  font-size: 20pt;
  line-height: 120%;
}
h5 {
  font-size: 18pt;
  line-height: 120%;
}
h6 {
  font-size: 16pt;
  line-height: 120%;
}
body {
  font-family: "Libre Franklin", sans-serif;
}

/* Animated border-bottom links */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  margin-bottom: -1px;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -4px;
  border-bottom: 4px solid #fff;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
a.project-url.hvr-underline-from-left {
  border-bottom: 2px solid #11b5e0;
}
a.project-url.hvr-underline-from-left:hover {
  border-bottom: 2px solid #11b5e0;
}
.contact {
  font-weight: 700 !important;
  border-bottom: 4px solid #fff;
  display: inline-block;
  line-height: 0.9;
  letter-spacing: 0.1px !important;
  margin-bottom: -2px !important;
}
.contact:hover {
  line-height: 0.9;
  color: hsl(192 85% 22% / 1);
  font-weight: 700 !important;
  border-bottom: 4px solid #11b5e0;
}
.work-content a, .hero a {
  background-color: transparent !important;
  text-decoration: none;
  color: #11b5e0;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  display: inline-block;
  line-height: 0.9;
  padding: 0 0 0.2rem;
  letter-spacing: 0.1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.work-content a:hover {
  color: #11b5e0;
  border-bottom: 2px solid #11b5e0;
  display: inline-block;
  line-height: 0.85;
  background-color: transparent !important;
}
a:hover {
  color: #262626;
  display: inline-block;
  line-height: 0.85;
  background-color: transparent !important;
}

/* Projects  */
.work-content {
  display: flex;
  width: 100%;
  max-width: 960px;
  flex-direction: column;
  padding-left: 1em;
}
#work .section-container {
  display: flex;
  margin-bottom: 0rem;
  flex-direction: column;
  gap: 0.5rem;
}
.project-title-container {
  display: flex;
  gap: 4px;
  align-items: baseline;
}
.section-info {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 0.9rem;
  padding-bottom: 0rem;
  color: var(--color-black-65);
  font-weight: 300;
  line-height: 1.4;
}
.section-link {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-primary);
  padding-bottom: 2rem;
}
.section-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5rem;
  grid-auto-flow: dense;
}
h3.project-title {
  font-size: 1.05rem;
  color: hsl(190deg 3% 20%);
  display: flex;
  padding-top: 3rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.project-name {
  margin-right: 2em;
}

.project-name, .project-role {
  display: flex;
  flex-direction: column;
  width: 50%;
  white-space: pre-line;
}
#work main {
  display: grid !important;
  grid-template-columns: 13em 1fr !important;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
  padding-top: 0rem;
  padding-bottom: 10rem;
}
#work .work-title h2 {
  color: hsl(190deg 3% 20%);
  font-weight: 900;
  font-size: 46px;
  margin-bottom: 0;
}
.work-title {
  max-width: 960px;
  padding-top: 4rem;
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 900;
}
#work {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 100%;
  padding: 0rem;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;
}
.project-image {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  position: relative !important;
  height: unset !important;
}

.react-aspect-ratio-placeholder > span {
  display: flex !important;
}
.w-full {
  grid-column: span 12;
}
.w-half {
  grid-column: span 6;
}
.w-fourth {
  grid-column: span 3;
}
.w-40p {
  grid-column: span 5;
}
.w-60p {
  grid-column: span 7;
  width: 100%;
}
.row-6 {
  grid-row: span 6;
}
.row-4 {
  grid-row: span 4;
}
.row-2 {
  grid-row: span 2;
}
.project-image-container.loaded {
  background-color: transparent;
  height: 100%;
}
.project-image-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* Project Navigation */
#work main > nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  align-self: start;
  padding-top: 2rem;
  padding-right: 2.5rem;
  display: block !important;
}
nav.toc {
  float: left;
  max-width: 220px;
}
.toc-container {
  position: -webkit-sticky;
  position: sticky;
  top: 2.5rem;
  transition: all 0.2s ease;
  opacity: 1;
}
.toc > ul {
  font-weight: 400;
  padding-left: 0px;
}
nav.toc li {
  position: relative;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}
.toc > ul li {
  position: relative;
  display: block;
  transition: all 50ms ease-in-out;
}

.toc > ul li:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 2px;
  line-height: 1rem;
  height: 100%;
  background-color:hsl(190deg 3% 95%);
  border-radius: 0px;
}
.toc > ul li.active a {
  color: var(--color-black-85);
  font-weight: 600;
}
.toc > ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 0px;
  color: hsl(190deg 3% 45%);
  font-weight: 400;
  line-height: 1rem;
  font-size: 0.775rem;
  margin-left: 0px;
  padding: 6px;
  padding-left: 12px;
}
.toc a:after {
  content: "";
  display: block;
  clear: both;
}
.toc > ul li.active:after {
  background-color: #12b1d9!important;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 6px;
  left: -2px;
  opacity: 1;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
}
.toc > ul li:hover:after {
  background-color: var(--color-black-25);
  content: "";
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 6px;
  left: -2px;
  top: 50%;
  opacity: 1;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  transform: translateY(-50%);
}

#work .cv {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  margin: 0 auto;
  color: #fff;
  background-color: #12b1d9!important;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 4rem 0 6rem;
}
.cv-container {
  max-width: 960px;
  margin: 0 auto;
  line-height: 140%;
}
.cv-title {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.cv-row {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: row;
}
#work .cv h2 {
  color:#fff;
}
#work .cv h2 {
  display: flex;
  max-inline-size: 100%;
  font-size: 56px;
  font-weight: 900;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.cv-blok {
  display: flex;
  color: #fff;
  flex-direction: column;
  gap: 10px;
  font-size: 0.85rem;
  font-weight: 300;
  width: 33%;
  flex: 1;
  padding-bottom: 0;
}
.cv-blok h3 {
  font-size: 1.15rem;
  line-height: 1.3em;
  color: #fff;
  display: flex;
  font-weight: 700;
  margin-bottom: 0;
}
.cv-job-row {
  display: flex;
  gap: 1rem;
  color: #fff;
}
.cv-year {
  display: flex;
  white-space: nowrap;
}
.cv-jobs {
  display: flex;
}

/* Header */
#header-container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1em;
  --tw-bg-opacity: 1;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  height: 70px;
}
.header-inner {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 32px;
  justify-content: center;
}
.header-inner a:hover span {
  color: #12b1d9;
  border-bottom: 3px solid #12b1d9;
}

.header-inner a span {
  border-bottom: 3px solid hsl(190deg 3% 20%);
}
#header-container .home {
  width: 6rem;
  cursor: pointer;
  margin-right: auto;
}
.header-links {
  --tw-text-opacity: 1;
  color: hsl(190deg 3% 20%);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.75rem;
  cursor: pointer;
  display: flex;
  gap: 7px;
  align-items: center;
}
#header-container .home {
  width: 6rem;
  cursor: pointer;
  margin-right: auto;
}

/* Icons */
svg.jbicon.jacobbalslev {
  width: 100px;
}
.hero svg.jbicon.jacobbalslev {
  width: 160px;
}
.icon-fill {
  fill: #222;
  stroke: transparent;
}
#work svg.jbicon.arrow-animated .icon-path {
  stroke-width: 3px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke: hsl(190deg 3% 60%);
  transition: all 0.15s ease-in-out;
}
.icon-path {
  fill: transparent;
  stroke: hsl(190deg 3% 20%);
}
#work svg.jbicon.arrow-animated .icon-path.two {
  stroke: transparent;
}
#work svg.jbicon.arrow-animated .icon-path {
  stroke-width: 3px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke: hsl(190deg 3% 60%);
  transition: all 0.15s ease-in-out;
}
#work .arrow-down:hover svg.jbicon.arrow-animated .icon-path {
  stroke-width: 3.5px;
  stroke: #12b1d9;
  transition: all 0.15s ease-in-out;
}
#work .arrow-down:hover a .icon-path.two {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  -webkit-animation: draw 5s ease-in-out forwards;
  animation: draw 5s ease-in-out forwards;
  fill-opacity: 0;
  stroke: var(--color-primary);
}
#work .arrow-down {
  width: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.arrow-down a {
  border-bottom: none;
  width: 100%;
  flex: 1 1;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}
.arrow-down svg.jbicon.arrow-animated {
  width: 4.5rem;
}
.icon-frame {
  fill: transparent;
  stroke: transparent;
}
.icon-container {
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: max-content;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
  text-align: center;
}
a.icon:hover {
  border: 1px solid #ededed;
  color: #333;
}
a.icon:hover .icon-span {
text-decoration: underline;
}
.icon {
  text-decoration: none;
  display: block;
  color: inherit;
  border: 1px solid transparent;
  padding-top: 1rem;
}
.icon.icon32 svg.jbicon {
  width: 2rem;
  height: 2rem;
  fill: none;
  stroke: var(--color-black-555);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
}
.icon .jbicon {
  display: flex;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
.icon-span {
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 10px;
  line-height: 1.4;
  margin-bottom: 1rem;
}
.hero svg.jbicon.arrow-fill-down {
  width: 55px;
}
.hero svg.jbicon.arrow-fill-down .icon-fill {
  fill: hsl(190deg 3% 80%);
}
#work .arrow-down:hover .icon-fill {
  fill:#12b1d9;
}

/* Company logos */
.cls-1 {
  fill: #fff;
}
.companies {
  padding-top: 4rem;
}
.company-logo {
width: 16.6%;
opacity: 0.5;
float: left;
padding-right: 0px;
}

/* Contact */
.connect-container {
  background-color: #12b1d9;
  color: #fff;
  padding: 60px;
}
.connect-content {
  margin: 0 auto;
  max-width: 960px;
}
.connect-content a.contact {
    font-weight: 700!important;
}
.connect-content h3 {
  font-size: 36px;
}
.connect-content .hvr-underline-from-left:before {
  border-bottom:4px solid hsl(192 85% 22% / 1);
}

/* Back to top arrow */
.cd-top.cd-fade-out {
  opacity: 1;
}
.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .2s 0s, visibility 0s 0s;
  -moz-transition: opacity .2s 0s, visibility 0s 0s;
  transition: opacity .2s 0s, visibility 0s 0s;
}
.cd-top {
  right: 22px;
  bottom: 25px;
  font-size: 15px;
  font-weight: 600;
  align-items: center;
}
.cd-bottom {
  right: 22px;
  top: 25px;
  font-size: 15px;
  font-weight: 600;
  align-items: center;
}
.cd-top {
  z-index: 0 !important;
  display: flex;
  position: fixed;
  gap: 3px;
}
.cd-bottom {
  z-index: 0 !important;
  display: flex;
  position: fixed;
  gap: 3px;
}
a.toc-links:before {
  content: '';
  display: block;
  background: transparent url(/_next/static/media/arrow-fill-down.c506f18d.svg) no-repeat center 50%;
  width: 18px;
  height: 18px;
}
.scrollToTopButton {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.scrollToTopButton.visible {
  opacity: 1;
}
.opacity-100 {
  opacity: 100;
  visibility: visible;
  -webkit-transition: opacity .2s 0s, visibility 0s 0s;
  -moz-transition: opacity .2s 0s, visibility 0s 0s;
  transition: opacity .2s 0s, visibility 0s 0s;
  color: hsl(190deg 3% 20%);
}
.opacity-0 {
  opacity: 0;
  -webkit-transition: opacity .2s 0s, visibility 0s 2s;
  -moz-transition: opacity .2s 0s, visibility 0s 2s;
  transition: opacity .2s 0s, visibility 0s 2s;
}

/* Footer */
#footer {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  color:#fff;
  padding: 40px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  background-color: #12b1d9;
}
#footer a.contact.hvr-underline-from-left {
  color: #11b5e0;
  border-bottom: 2px solid #11b5e0;
  font-weight: 600 !important;
}

::selection {
  background: hsl(190deg 3% 20%);
  color: white;
}

/* Breakpoints */
@media only screen and (max-width: 420px) {
  
  #work main {
    display: grid !important;
    grid-template-columns:12fr!important;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0em 2em 10em 2em;
}
nav.toc {
  float: left;
  max-width: 100%;
  padding-right: 0 !important;
} 
.toc > ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 0px;
  color: hsl(190deg 3% 45%);
  font-weight: 400;
  line-height: 130%;
  font-size: 3em;
  margin-left: 0px;
  padding: 6px;
  padding-left: 12px;
}

#work main > nav {
  display: none!important;
}
.work-content {
  padding-left: 0em!important;
}
.work-title {
  padding: 0px 32px;
}
h3.project-title {
  font-size: 28px;
}
.digitaliseringsstyrelsen h3.project-title {
  padding-top: 10px;
}
.section-info {
  font-size: 20px;
  color: hsl(190deg 3% 45%);
  font-weight: 400;
  line-height: 155%;
  flex-direction: column;
}
.project-name, .project-role {
  width: 100%;
  white-space: pre-line;
}
.section-link {
  font-size: 20px;
  font-weight: 700;
  color: #11b5e0;
  padding-bottom: 2rem;
}
#work .cv {
  padding:40px 32px;
}
.cv-row {
  flex-direction: column;
}
.cv-blok {
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  padding-bottom: 0;
  line-height: 155%;
}
.companies {
  padding-top: 3rem;
  display: inline-block;
  padding-bottom: 0rem;
}
.cv-blok h3 {
  font-size: 28px;
  line-height: 130%;
  color: #fff;
  display: flex;
  font-weight: 700;
  margin-bottom: 0;
}
.company-logo {
  width: 33.33%;
  opacity: 0.5;
  float: left;
  padding-right: 0;
}
.company-logo svg {
  width: 100%;
  display: block;
}
.hero h1 {
  font-size: 28px;
  color: hsl(190deg 3% 20%);
}
.hero svg.jbicon.jacobbalslev {
  width: 150px;
}
.header-links {
  font-weight: 600;
  font-size: 26px;
}
.hero svg.jbicon.arrow-fill-down {
  width: 60px;
}
.connect-container {
  padding: 32px;
}
#header-container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 4em;
}
.connect-content h3 {
  font-size: 24px;
  line-height: 125%;
}
#footer {
  padding: 80px;
  font-size: 17px;
  font-weight: 600;
}
.cd-top {
  right: 25px;
  bottom: 25px;
  font-size: 24px;
}
.cd-bottom {
  right: 25px;
  top: 25px;
  font-size: 24px;
}
.cd-bottom:after {
  width: 24px!important;
  height: 24px!important;
}
.cd-top:after {
  width: 24px;
  height: 24px;
}
.hero {
  max-width: 100%;
  margin: 3rem auto 2rem auto;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  min-height: 55vh;
  padding: 0px 32px!important;
}
#work .cv h2 {
  display: flex;
  max-inline-size: 100%;
  font-size: 46px;
  font-weight: 900;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
}

.cd-top:after {
  content: '';
  /* background: transparent url(components/Icons/arrow-fill-down.svg) no-repeat center 50%; */
  width: 18px;
  height: 18px;
  display: inline-block;
}
.cd-bottom:after {
  content: '';
  /* background: transparent url(components/Icons/arrow-fill-up.svg) no-repeat center 50%; */
  width: 18px;
  height: 18px;
  display: inline-block;
}
.cd-top:hover{
  cursor: pointer;
  display: flex;
  line-height: inherit;
  color: #34C9EE;
}
.cd-bottom:hover{
  cursor: pointer;
  display: flex;
  line-height: inherit;
  color: #34C9EE;
}
.cd-bottom:hover:after {
  background: transparent url(components/Icons/arrow-fill-up-hover.svg) no-repeat center 50%;
}
.cd-top:hover:after {
  background: transparent url(components/Icons/arrow-fill-down-hover.svg) no-repeat center 50%;
}

/* Tablet to Laptop */
@media only screen and (min-width: 768px) {
  #header-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 5em;
    --tw-bg-opacity: 1;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    height: 70px;
}
#work main {
  display: grid !important;
  grid-template-columns: 13em 1fr !important;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  padding-top: 0rem;
  padding-bottom: 10rem;
}
  .hero {
    max-width: 960px;
    margin: 3rem auto 2rem auto;
    display: flex;
    flex: 1;
    font-size: 36px!important;
    flex-direction: column;
    padding: 0 50px!important;
  }
  .hero h1 {
    font-size: 46px;
    color: hsl(190deg 3% 20%);
}
.hero svg.jbicon.jacobbalslev {
  width: 200px;
}
#work .arrow-down {
  padding-top: 0rem;
}
.header-links {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.75rem;
  padding-bottom: 2px;
}
.header-inner a span {
  border-bottom: 4px solid hsl(190deg 3% 20%);
}
.connect-content h3 {
  font-size: 25px;
}
.cv-outer-container {
  padding: 0px 50px;
}
.header-inner a:hover span {
  color: #12b1d9;
  border-bottom: 4px solid #12b1d9;
}
.work-title {
  max-width: 100%;
  padding-top: 4rem;
  margin: 0 auto;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 900;
  padding: 0px 50px;
}
.connect-container {
  background-color: #12b1d9;
  color: #fff;
  padding: 50px;
}
.connect-content {
  margin: 0 auto;
  max-width: 100%;
}
}
/* Laptop */
@media only screen and (min-width: 1040px) {
  .hero {
    max-width: 960px;
    margin: 3rem auto 2rem auto;
    display: flex;
    flex: 1;
    font-size: 36px;
    flex-direction: column;
    padding: 0!important;
  }
  .connect-content {
    margin: 0 auto;
    max-width: 960px!important;
  }
  .work-title {
    max-width: 960px;
    padding-top: 2rem!important;
    margin: 0 auto;
    width: 100%;
    font-size: 2.2rem;
    font-weight: 900;
    padding: 0px;
}
.header-links {
  --tw-text-opacity: 1;
  color: hsl(190deg 3% 20%);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.75rem;
  cursor: pointer;
  display: flex;
  gap: 7px;
  align-items: center;
  padding-bottom: 0px;
}
.connect-content h3 {
  font-size: 32px;
}
.header-inner a span {
  border-bottom: 3px solid hsl(190deg 3% 20%);
}
.header-inner a:hover span {
  color: #12b1d9;
  border-bottom: 3px solid #12b1d9;
}
#work main {
  display: grid !important;
  grid-template-columns: 13em 1fr !important;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  padding-top: 0rem;
  padding-bottom: 8rem;
}
}
/* Tablet */
@media only screen and (max-width: 768px) {
  .hero {
    max-width: 960px;
    margin: 3rem auto 2rem auto;
    display: flex;
    flex: 1;
    font-size: 36px;
    flex-direction: column;
    padding: 0 60px;
  }
}

.classNameInView a.cd-top.opacity-100 {
  opacity: 0;
}

